@media screen and (max-width:1030px) {
  .page-header {
  padding-left: 30px;
  }
  .fancy-title h2 {
  padding-left: 30px;
  }
  .info-container, .data-container, .footer-content {
  padding: 0 30px;
  }
}
@media screen and (max-width:560px) {
  .col-left, .col-right {
  float: none;
  width: 100%;
  margin: 0;
  }
  .col-left.map-col img {
  padding-bottom: -20px;
  }
}
